html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar IE, Edge, Firefox */
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

img {
    border-radius: 5%;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #e1eef3;
    min-height: 72vh;
}

.MuiGrid-root .MuiGrid-item .MuiGrid-grid-xs-4 .MuiGrid-grid-md-4 .css-gj1fbr-MuiGrid-root, .css-1jpv6k6-MuiGrid-root > .MuiGrid-item {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*BUTTONs*/
.style_of_the_button_unpressed {
    background-color: cadetblue;
    width: 20%;
    left: 40%;
    margin: 5pt;
    position: relative;
}

.style_of_the_button {
    background-color: cornflowerblue;
    width: 30%;
    height: 20%;
    left: 35%;
    margin: 5pt;
    position: relative;
}

.MuiContainer-root {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.label {
    font-size: 18pt;
    font-weight: bold;
    width: 100%;
    margin: 1%;
}

.CompCon {
    width: 50%;
    position: relative;
    background-color: cadetblue;
    text-align: center;
}

.competitionPage {
    position: relative;
    background-color: cadetblue;
    text-align: center;
}

.competitionLinkTrue {
    background-color: red;
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
}

.competitionLinkFalse {
    background-color: green;
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
}

.compButton {
    width: 50%;
    position: relative;
    left: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compMoreComp {
    width: 70%;
    position: relative;
    left: 15%;
}

.logo {
    margin: 0 auto;
}

.choice {
    margin-Bottom: 5%;
    margin-top: 5%;
    text-align: center;
}

.defCont {
    width: 50%;
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
}

.defCont button {
    width: 30%;
    color: cornflowerblue;
    font-weight: bold;
    position: relative;
    left: 35%;
    background-color: blanchedalmond;
}

.toggle {
    border: 3pt solid cadetblue; 
    background-color: white;
}
